#leafletMap  {
   height: 600px;
   opacity: 0;
   width: 90%;
   margin-top: 2%;
   margin-left: 5%;
   margin-right: 5%;
   height: 70%;

   // border: 2px;
   // border-color: #333;
   // border-style: solid;
   border-radius: 10px;
   
}

body {
   background-color:#b7cce0;
   // background: rgb(34,193,195);
   // background: linear-gradient(0deg, rgba(34,193,195,1) 14%, rgba(253,187,45,1) 100%);
}

#Number-Summary {
   margin-top: 10px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: #2f455b;
   position: relative;
   margin-left: 5vw;
   margin-right: 5vw;
}

.bird-info-container,
.helbiz-info-container,
.capital-info-container {
   width: 33.33%;
}

p#birdDate > span, p#birdScooter > span,
p#helbizDate > span, p#helbizScooter > span,
p#capitalDate > span, p#capitalBike > span {
   font-weight: 800;
}

div#bird-Date-Number > p,
div#helbiz-Date-Number > p,
div#capital-Date-Number > p,
div > #bird-title,
div > #helbiz-title,
div > #capital-title {
   margin-left: 5px;
   margin-right: 5px;
   text-align: center;
}



