h1  {
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
   color: green;
   margin-left: 15px;
}

// #leafletMap  {
//    height: 600px;
//    width: 900px;
//    margin-left: 15px;
// }

