//Site-Source:https://www.w3schools.com/howto/howto_css_modals.asp
//Where I learned to create modal and styling structure

.modal {
    display: block;
    position: fixed;
    z-index: 1000;
    padding-top: 200px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0,0.4);
}

.modal-content {
    position: relative;
    color: #2f455b;
    background-color: #b7cce0;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    opacity: 1;
  }

.modal-body {
  display: flex;
  justify-content: space-around;

}
.modal-body-left  {
  display: inline-block;
  // overflow: auto;
  margin-left: 15px;
  margin-right: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  // text-indent: 50px;
 
}
.modal-body-right {
  display: inline-block;
  margin-right: 15px;
  width: 100%;
  
}

.modal-body-right > img {
  border-radius: 10px;
}

.modal-top {
  margin-left: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.modal-bottom {
  display: flex;
  justify-content: center;
  // float: inline-start;
  margin-left: 15px;
  margin-right: 15px;
  position:relative;
}

h2 + ol {
  margin-top: -5px;
}

  

  