.modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: #b7cce0 ;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1s;
    animation-name: animatetop;
    animation-duration: 0.8s
  }

.modal-body {
  display: flex;
  justify-content: space-around;
}
.modal-left {
  display: inline-block;
  overflow: auto;
}

.modal-right {
  display: inline-block;
}

  
  @-webkit-keyframes animatetop {
    from {top:0px; opacity:0} 
    to {top: 0px; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:0px; opacity:0}
    to {top:0px; opacity:1}
  }

  