h1.webTitle {
    color: #04AA6D;
    background-color: whitesmoke;
    text-align: center;
    font-size: 40px;
    // height: 80px;
    // border-style: solid;
    // border-width: 2px;
 }

.topnav {
    overflow: hidden;
    background-color: #333;
}
  
 
.topnav a:first-child, 
.topnav a:nth-child(2), 
.topnav a:nth-child(3) {
    float: left;
    font-size:20px;
}
 
 

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
// background-color: #ddd;
    background-color: #04AA6D;
    color: #333;
}

.greenFilter {
    background-color: #04AA6D;
    color: #333;
}