h1.webTitle {
    color: #2f455b;
    background-color: #b7cce0;
    text-align: center;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    // height: 80px;
    // border-style: solid;
    // border-width: 2px;
 }

.topnav {
    overflow: hidden;
    background-color: #2f455b;
}
  
 
.topnav a:first-child, 
.topnav a:nth-child(2), 
.topnav a:nth-child(3) {
    float: left;
}
 
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.topnav a:hover {
    background-color: #ddd;
    background-color:  #f07a2d;
    color: #333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}



.redFilter {
    background-color: #FA5252;
    color: #333;
}

.blueFilter {
    background-color: #5C7CFA;
    color: #333;
}

.greenFilter {
    background-color: #94D82D;
    color: #333;
}

#capitalfilter:hover,
#helbizfilter:hover,
#birdfilter:hover {
        color: #333;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
}


#capitalfilter:hover {
        background-color:  #FA5252;
    }
#helbizfilter:hover {
        background-color:  #5C7CFA;
    }
#birdfilter:hover {
        background-color:  #94D82D;
    }